In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.__version__

'1.3.5'

In [ ]:
pd.show_versions()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

INSTALLED VERSIONS
------------------
commit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d
python           : 3.7.13.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.144+
Version          : #1 SMP Tue Dec 7 09:58:10 PST 2021
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.3.5
numpy            : 1.21.6
pytz             : 2022.1
dateutil         : 2.8.2
pip              : 21.1.3
setuptools       : 57.4.0
Cython           : 0.29.28
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.6
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 5.5.0
pandas_datareader: 0.9.0
bs4              : 4.6.3
bottleneck       : 1.3.4
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : 2.8.1
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : 0.13.3
pyarrow          : 6.0.1
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.4.35
tables           : 3.7.0
tabulate         : 0.8.9
xarray           : 0.18.2
xlrd             : 1.1.0
xlwt             : 1.3.0
numba            : 0.51.2

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.index = labels

In [ ]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

In [ ]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [ ]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [ ]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [ ]:
df.loc[['d', 'e', 'i'], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [ ]:
df[df['visits'] > 2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [ ]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [ ]:
df[df.animal == 'cat', ['age'] < 3]

TypeError: ignored

In [ ]:
df[df.animal == 'cat']

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
h    cat  NaN       1      yes

In [ ]:
df.age < 3

a     True
b    False
c     True
d    False
e    False
f     True
g    False
h    False
i    False
j    False
Name: age, dtype: bool

In [ ]:
filter = (
    (df.animal == 'cat')&
    (df.age<3)
)
df[filter]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [ ]:
df[df['age'].between(1, 5)]

  animal  age  visits priority
a    cat  2.5     1.0      yes
b    cat  3.0     3.0      yes
e    dog  5.0     2.0       no
f    1.5  1.5     1.5      1.5
g  snake  4.5     1.0       no
j    dog  3.0     1.0       no

In [ ]:
df.loc['f', 'age']= 1.5

In [ ]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
df.visits.sum()

19

In [ ]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [ ]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
df.loc['k'] = ['koala', 3.5, 2,'no']
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
k  koala  3.5       2       no

In [ ]:
df.animal.value_counts()

cat      4
dog      4
snake    2
koala    1
Name: animal, dtype: int64

In [ ]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
k  koala  3.5       2       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [ ]:
df.priority.replace(['yes', 'no'], ['True', 'False'], inplace=True)

In [1]:
df

NameError: ignored

In [ ]:
df.animal.replace('snake', 'Python', inplace=True)

In [ ]:
df

   animal  age  visits priority
a     cat  2.5       1     True
b     cat  3.0       3     True
c  Python  0.5       2    False
d     dog  NaN       3     True
e     dog  5.0       2    False
f     cat  1.5       3    False
g  Python  4.5       1    False
h     cat  NaN       1     True
i     dog  7.0       2    False
j     dog  3.0       1    False
k   koala  3.5       2    False

In [ ]:
pd.pivot_table

## Scraping tables

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

In [ ]:
tables = pd.read_html('https://en.wikipedia.org/wiki/Uzbekistan', match = 'Division')

In [ ]:
len(tables)

1

In [ ]:
df = tables[0]

## Databases

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('my_db.db')

In [ ]:
df.head()

,Division,Capital City,Area(km2),Population (2022)[99][100],Key
0,Andijan RegionUzbek: /Andijon V...,AndijanAndijon,4303,3 253 528,2
1,Bukhara RegionUzbek: /Buxoro Vil...,BukharaBuxoro,41937,1 976 823,3
2,Fergana RegionUzbek: /Fargona ...,FerganaFargona,7005,3 896 395,4
3,Jizzakh RegionUzbek: /Jizzax Vil...,JizzakhJizzax,21179,1 443 408,5
4,Karakalpakstan RepublicKarakalpak: ...,NukusNokisNukus,161358,1 948 488,14

In [ ]:
df.to_sql('regions', conn)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
df.to_sql('reg2', conn)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
pd.read_sql('select Division div, Key key from reg2', conn)

                                                  div  key
0   Andijan RegionUzbek:  /Andijon V...    2
1   Bukhara RegionUzbek:  /Buxoro Vil...    3
2   Fergana RegionUzbek:  /Fargona ...    4
3   Jizzakh RegionUzbek:  /Jizzax Vil...    5
4   Karakalpakstan RepublicKarakalpak: ...   14
5   Kashkadarya RegionUzbek:  /Qas...    8
6   Khorezm RegionUzbek:  /Xorazm Vil...   13
7   Namangan RegionUzbek:  /Namanga...    6
8   Navoiy RegionUzbek:  /Navoiy Vilo...    7
9   Samarkand RegionUzbek:  /Samar...    9
10  Surkhandarya RegionUzbek:  /S...   11
11  Syrdarya RegionUzbek:  /Sirdaryo...   10
12         Tashkent CityUzbek:/Toshkent Shahri    1
13  Tashkent RegionUzbek:  /Toshkent...   12

In [ ]:
pd.read_sql('select index, Division from reg2', conn)